@page "/"
@using EventosWebApp.BLL
@using EventosWebApp.Models
@using EventosWebApp.Pages
@inject EventoBLL EventoBLL
@inject NavigationManager NavigationManager

<PageTitle>DashBoard</PageTitle>

<h1>DashBoard</h1>

@if (eventos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>id_evento</th>
                <th>nombre_evento</th>
                <th>descripcion_evento</th>
                <th>fecha_evento</th>
                <th>hora_inicio</th>
                <th>fecha_finalizacion</th>
                <th>hora_finalizacion</th>
                <th>capacidad_total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var evento in eventos)
            {
                <tr>
                    <td>@evento.id_evento</td>
                    <td>@evento.nombre_evento</td>
                    <td>@evento.descripcion_evento</td>
                    <td>@evento.fecha_evento</td>
                    <td>@evento.hora_inicio</td>
                    <td>@evento.fecha_finalizacion</td>
                    <td>@evento.hora_finalizacion</td>
                    <td>@evento.capacidad_total</td>
                    <td>
                        <button class="btn btn-primary" @onclick="(() => VerSecciones(evento.id_evento))">Ver Secciones</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (eventoSeleccionado != null)
{
    <h3>Evento Seleccionado:</h3>
    <p>Id: @eventoSeleccionado.id_evento</p>
    <p>Nombre: @eventoSeleccionado.nombre_evento</p>
    <p>Descripción: @eventoSeleccionado.descripcion_evento</p>
    <p>Fecha de inicio: @eventoSeleccionado.fecha_evento</p>
    <p>Hora de inicio: @eventoSeleccionado.hora_inicio</p>
    <p>Fecha de finalización: @eventoSeleccionado.fecha_finalizacion</p>
    <p>Hora de finalización: @eventoSeleccionado.hora_finalizacion</p>
    <p>Capacidad total: @eventoSeleccionado.capacidad_total</p>
}

@code {
    public List<Evento> eventos;
    public Evento eventoSeleccionado;

    //private int idEventoSeleccionado; // Variable de estado para almacenar el ID del evento seleccionado

    protected override async Task OnInitializedAsync()
    {
        eventos = await EventoBLL.ObtenerEventos();
    }

    private void VerSecciones(int idEvento)
    {
        SeccionBLL.setEventoId(idEvento); // Almacenar el ID del evento seleccionado en la variable de estado
        NavigationManager.NavigateTo("/secciones"); // Navegar a la página de Secciones
    }
}





